*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.01em;
}

/* HEADER */

header{
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
    position: relative;
    z-index: 1;
}

.header-container{
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 40px;
    padding: 20px;
    align-items: center;
    max-width: 1240px;
    margin: auto;
}

.logo{
    background-image: url(https://www.starbucks.com.ar/static/images/logo.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -99999rem;
}

.main-menu{
    display: flex;
    justify-content: space-between;
}

.main-menu a{
    text-decoration: none;
    font-size: .875rem;
    letter-spacing: .1em;
    font-weight: 700;
    text-transform: uppercase;
    color: inherit;
}

.menu-left > ul, .menu-right > ul{
    list-style: none;
    display: flex;
}

.menu-left a:hover{
    padding-bottom: 30px;
    border-bottom: solid 5px #00754a;
}

.menu-left > ul > li:nth-child(1), li:nth-child(2) {
    margin-right: 40px;
}

.menu-right a{
    text-transform: none;
    display: flex;
    align-items: center;
    font-weight: 600;
}

ion-icon{
    width: 20px;
    height: 20px;
}

/* MAIN CONTENT */

.main-content{
    z-index: 0;
    max-width: 1400px;
    margin: auto;
}

.block-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    padding-bottom: 30px;
    color: #006241
}

.block-img{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.momento{
    background-image: url(https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-05%2FSbux-Fall-Banners_WEB-MomentoStarbucks%20-%20grande.jpg?auto=format,compress&q=70&crop=focalpoint&ar=1.8:1.0&w=1400&fit=max);
}

.vivi{
    background-image: url(https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-05%2FSbux-Fall-Banners_WEB-MochaCookieCrumble.jpg?auto=format,compress&q=70&crop=focalpoint&ar=1.8:1.0&w=1400&fit=max);
}

.block-text{
    background-color: #0062411f;
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    gap: 20px;
}

.block-text p{
    width: 80%;
    font-size: 1.188rem;
}

.main-button{
    padding: 5px 15px;
    border-radius: 52px 52px 52px 52px;
    -moz-border-radius: 52px 52px 52px 52px;
    -webkit-border-radius: 52px 52px 52px 52px;
    border: 1px solid #006241;
    font-weight: 600;
}

.main-button:hover{
    cursor: pointer;
}

/* PREFOOTER */

.region-prefooter{
    box-shadow: 0 -3px 3px rgb(0 0 0 / 10%);
    position: relative;
    z-index: 1;
    padding: 20px 0;
}

.region-prefooter  ul{
    list-style: none;
}

.prefooter-container{
    display: flex;
    max-width: 1240px;
    justify-content: space-between;
    margin: 20px auto;
}

.prefooter-container img{
    height: 98px;
}

.wrapper-menu{
    display: flex;
}

.block-menu{
    margin-right: 40px;
}

.block-menu-title{
    margin-bottom: 24px;
    font-size: 1.188rem;
}

.block-menu li{
    margin-bottom: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 1rem;
}

.block-menu a{
    color: #777;
    text-decoration: none;
    font-weight: 400;
}

.block-menu a:hover{
    color: rgba(0, 0, 0, .87);
}